.dice {
    width: 70px;
    height: 70px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
